body {
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #231842;

    background-image:
        radial-gradient(circle, rgba(138, 43, 226, .3) 0%, transparent 40%),
        radial-gradient(circle, rgba(80, 0, 255, .2) 0%, transparent 35%),
        radial-gradient(circle, rgba(180, 120, 255, .15) 0%, transparent 45%);

    background-size: 1000px 1000px, 800px 800px, 1200px 1200px;
    animation: bergerak 15s ease-in-out infinite alternate;
}

.navbar {
    padding: 0 35px;
    background-color: rgba(20, 15, 37, 0.705);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    /* filter: drop-shadow(0 4px 10px #ff3b3b6b); */
    box-shadow: 0 4px 10px rgba(94, 67, 252, 0.699);
    z-index: 9999;
}

.nav-link {
    color: white;
    font-weight: 500;
    transition: all .4s ease-in-out;
}

.nav-link:hover {
    color: rgb(187, 135, 255);
    transform: translateY(-5px);
}

.text-pruple {
    color: #8559ff;
}

.judul-jumbotron {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(90deg,
            #5b21ff,
            #a928ff,
            #3002fc);
    box-shadow:
        0 0 15px rgba(98, 0, 255, 0.548),
        0 0 40px rgba(52, 38, 255, 0.808);
    width: fit-content;
    letter-spacing: 3px;
    font-size: 2rem;
    border-radius: 50px;
}

.judul {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
}

.desc-judul {
    color: rgba(218, 218, 218, 0.651);
}

.border-purple {
    border: 3px solid #7c3aed !important;
    box-shadow:
        0 0 10px rgba(124, 58, 237, .5),
        0 0 25px rgba(124, 58, 237, .25);
}

.keahlian-pendidikan {
    background: linear-gradient(145deg, #3f0ca5, #2c006f);
    color: #fff;

    border: 1px solid rgba(140, 82, 255, .5);
    border-radius: 14px;

    box-shadow:
        0 8px 25px rgba(0, 0, 0, .35),
        0 0 18px rgba(124, 77, 255, .18);

    overflow: hidden;

    transition: .35s ease;
}

.tech-badge {
    display: inline-block;
    padding: 6px 12px;
    margin: 4px;

    background: #5b21b6;
    color: #fff;

    border: 1px solid #8b5cf6;
    border-radius: 10px;

    font-size: .8rem;
    font-weight: 600;

    transition: .3s;
}

.tech-badge:hover {
    background: #7c3aed;
    transform: translateY(-2px);
    box-shadow: 0 0 10px rgba(124, 58, 237, .5);
}

.jenjang{
    color:hsl(219, 95%, 85%);
    font-size:.9rem;
    font-weight:500;
    margin-left:24px;
}