body {
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #231842;

    background-image:
        radial-gradient(circle, rgba(138, 43, 226, .3) 0%, transparent 40%),
        radial-gradient(circle, rgba(80, 0, 255, .2) 0%, transparent 35%),
        radial-gradient(circle, rgba(180, 120, 255, .15) 0%, transparent 45%);

    background-size: 1000px 1000px, 800px 800px, 1200px 1200px;
    animation: bergerak 15s ease-in-out infinite alternate;
}

.navbar {
    padding: 0 35px;
    background-color: rgba(20, 15, 37, 0.705);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    /* filter: drop-shadow(0 4px 10px #ff3b3b6b); */
    box-shadow: 0 4px 10px rgba(94, 67, 252, 0.699);
    z-index: 9999;
}

.nav-link {
    color: white;
    font-weight: 500;
    transition: all .4s ease-in-out;
}

.nav-link:hover {
    color: rgb(187, 135, 255);
    transform: translateY(-5px);
}

.text-pruple {
    color: #4402fc;
}

.judul-jumbotron {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(90deg,
            #5b21ff,
            #a928ff,
            #3002fc);
    box-shadow:
        0 0 15px rgba(98, 0, 255, 0.548),
        0 0 40px rgba(52, 38, 255, 0.808);
    width: fit-content;
    letter-spacing: 3px;
    font-size: 2rem;
    border-radius: 50px;
}

.judul {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
}

.desc-judul {
    color: rgba(218, 218, 218, 0.651);
}